.git
.github
node_modules
backend/node_modules
.astro
dist
backend/dist
backend/.env
.env
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/perfiles/.gitkeep
!backend/uploads/schedules/.gitkeep
!backend/uploads/prepaid-schedules/.gitkeep
*.log
*.zip
