<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0;url=/views/tiendas" />
        <meta name="robots" content="noindex" />
        <title>Redirigiendo a Tiendas</title>
        <script is:inline>
            window.location.replace('/views/tiendas');
        </script>
    </head>
    <body>
        <a href="/views/tiendas">Continuar a Tiendas</a>
    </body>
</html>
